header {
   display: flex;
   justify-content: space-between;
   background-color: #4c4c4c;
   border-bottom: 10px solid #179117;
   padding: 10px 20px;
}

nav {
    text-align: right;
    position: relative;
}

.menu {
    position: relative;
    top: 23px;
}



span {
    background-color: #179117;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}





